<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DeliveryOrder.Properties.Settings.DOConnectionString"
            connectionString="Data Source=DESKTOP-IF2VHJQ\ATECH;Initial Catalog=DO;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>
